<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devour the Burgers!</title>
    {{!-- Custom Stylesheet --}}
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css"> {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <img class="header-img" src="../../assets/img/Cheeseburger.png">
            <h1>Devour the Burgers!</h1>
        </div>

    </header>

    {{{ body }}}

    {{!-- jQuery --}}
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    {{!-- Custom Scripts --}}
    <script src="../../assets/js/app.js"></script>
</body>

</html>